# Ignorar a biblioteca virtual Python
venv/

# Ignorar arquivos de log
*.log

# Ignorar configurações do ambiente IDE
.idea/
.vscode/

# Ignorar arquivos de ambiente
.env

# Ignorar o arquivo de comentário .md
.md
